:root{
    --body-background-color: hsl(210, 46%, 95%);
    --header-color: hsl(217, 19%, 35%);
    --para-color: hsl(214, 17%, 51%);
    --date-color: hsl(212, 23%, 69%);
    --border-radius: 10px;
    --expt-color:rgb(56,65,84);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--body-background-color);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    height: 100vh;
    font-size: 13px;
}

main{
    display: grid;
    grid-template-columns: 3fr 5fr;
    max-width: 1000px;
    margin: 0 auto;
}

h1, h4{
    color: var(--header-color);
}

h1{
    font-size: 1.8em;
    line-height: 1.4em;
}

p{
    color: var(--para-color);
}

p#description{
    font-size: 1.1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    line-height: 2em;
}

p#date{
    color: var(--date-color);
}

#card-image{
    background-image: url('images/drawers.jpg');
    background-size: cover;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-container h1, .grid-container p{
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-container h1{
    grid-row: 1/2;
}

.grid-container p{
    grid-row: 2/3;
}

#card-text{
    padding: 3em 4em;
    background-color: #fff;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}


#card-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between; */
    /* align-content: center; */
}


#avatar-card{
    grid-column-start: 1;
    grid-column-end: 2;

    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-content: end;
}

img#avatar{
    height: 60px;
    width: auto;
    border-radius: 50%;
    margin-right: 1em;
    
    /* grid-column-start: 2;
    grid-column-end: 3; */
}

#avatar-text{
    display: grid;
    align-content: center;
}

h4{
    font-size: 1.2em;
    /* grid-column-start: 1; */
}
p#date{
    font-size: 1.1em;
    /* grid-column-start: 2; */

}

#share-container{
    display: grid;
    grid-template-columns: 1fr;

    grid-column: 2;
    grid-row: 2/4;

    justify-content: end;
    align-content: end;
}

#share-icon-container{
    background-color: var(--body-background-color);
    height: 50px;
    width: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 50%;

    justify-self: end;
    align-self: end;
}

img#share-icon{
    height: 20px;
    width: auto;
}

#bubble-set {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: end;
    align-self: end;

    /* margin-right: -50px; */
}

#bubble-box {
    margin: 0 auto;
}

#arrow-down{
    margin: 0 auto;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid var(--header-color);
}

ul {
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2em;
    list-style: none;
    color: var(--date-color);
    background-color: var(--header-color);
    width: 15vw;

}

img.share-icon{
    background-color: var(--header-color);
}

@media screen and (max-width: 1050px){
    body{
        height: 100%;
    }

    main{
        grid-template-columns: 1fr;
        max-width: 400px;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    #card-image, #card-text{
        border-radius: 0;
    }

    #card-image{
        height: 35vh;
        width: auto;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }
    
    #card-text{
        padding: 3em 4em;
        background-color: #fff;
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    #card-footer{
        margin-top: 4em;
        grid-template-columns: 3fr 1fr;

    }
}